<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>

    <aspNetCore processPath=".\APE.Exposition.Vente.Api.exe" arguments="" forwardWindowsAuthToken="false" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" startupTimeLimit="3600" requestTimeout="23:00:00" />
    <rewrite>
      <rules>
        <rule name="Test" enabled="true"  xdt:Transform="RemoveAll" xdt:Locator="Match(name)" >
        </rule>
        <rule name="Test" enabled="true" stopProcessing="true" xdt:Transform="Insert">
          <match url="api/(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://some_url_rec:9000/api/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
<!--ProjectGuid: 578c4867-abfd-4af3-9cfa-455e7668dcba-->