<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="D:\Application_Log\APE.Exposition.Vente\log.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="Layout"
          value="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"/>

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target type="File" name="allfile" fileName="D:\Application_Log\APE.Exposition.Vente\nlog-all-${shortdate}.log" layout="${Layout}" />

    <target type="File" name="ownFile" fileName="D:\Application_Log\APE.Exposition.Vente\nlog-own-${shortdate}.log" layout="${Layout}" />

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Info" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Error" writeTo="ownFile" />
  </rules>
</nlog>